.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.slide-active {
  opacity: 1;
  transition-duration: 1s ease;
  transform: scale(1.08);
  position: relative;
}

.image {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-text {
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-family: fantasy;
  color: #FFFAFA;
  margin: 1rem 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}